#content {
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}
#category {
  margin-left: auto;
  margin-right: auto;
  
}
#category-title {
  border: 1px solid #363435; 
  
  width: 848px;  
  float: left;
}
#category p {
  color: white;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  padding: 0px;
}
#album {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #363435; 
  width: 403px;
  height: 300px;
  padding-left: 20px;
  padding-bottom: 17px;
  float: left;
  margin-bottom: 0px;
}
#album img {
  margin-right: auto;
  margin-left: auto;
  height: 250px;
  float: left;
}
#album p {
  text-align: left;
  font-size: 100%;
  font-weight: normal;
  padding-left: 20px;
  color: white;
}
#album a:link {
 color: white;
 text-decoration: none;
}
#album a:visited {
  color: white;
  text-decoration: none;
}
#album a:hover {
  color: #CCCCCC;
  background-color: #333333;
  text-decoration: underline;
}
#album a:active {
  color: white;
  text-decoration: none;
}