body {
  background-color: black;
}

div.edge1{background:#DFDFDF url(category_img/w_left_top.gif) no-repeat; width:100%;}
div.edge2{background:url(category_img/w_right_top.gif) no-repeat top right;}
div.edge3{background:url(category_img/w_left_bottom.gif) no-repeat left bottom;}
div.edge4{background:url(category_img/w_right_bottom.gif) no-repeat right bottom; padding:10px;}

#logo img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#pics {
  width: 848px;
  margin-right: auto;
  margin-left: auto;
}

#pics-holder {
  margin-right: auto;
  margin-left: auto;
  width: 210px;
  height: 340px;
  border-width: 1px;
  border-color: #363435;
  border-style: solid;
  float: left;
}
#pics-holder:hover {
  background-color: #363435;
}
#pics-holder p {
  margin-top: 0px;
  text-align: center;
  color: white;
}
#pics-holder img {
  margin: 20px;
  width: 180px;
}
#album-nav {
  width: 846px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2px;
  border: 1px solid #363435;
}
#album-nav a {
  text-decoration: none;
}
a.curr_page:link {
  color: red;
}
a.curr_page:visited {
  color: red;
}
a.curr_page:hover {
  color: red;
}
a.curr_page:active {
  color: red;
}
#album-nav a:link { 
  color: white;
}
#album-nav a:visited { 
  color: white;
}
#album-nav a:hover { 
  color: #CCCCCC;
  background-color: #333333;
  text-decoration: none;
}
#album-nav a:active { 
  color: white;
}
#slideshow-nav p {
  text-align: center;
  height: 10px;
  margin: 0px;
}
#prev {
  width: 100px;
  padding-left: 20px;
  display:table-cell;
  margin-bottom: 0px;
  height: 10px;
}
#prev p {
  text-align: center;
}
#next {
  width: 100px;
  display:table-cell;
  margin-bottom: 0px;
  height: 10px;
}
#next p {
  text-align: center;
}
#page-nav {
  width: 646px;
  display:table-cell;
  margin-bottom: 0px;
  height: 10px;
}
#page-nav p {
  text-align: center;
}

