{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div id="album-nav">
    <div id="slideshow-nav">
      <p>Slideshow</p>
    </div>
    
    <div id="prev">
      <p>
      {% if prev_page %}
	<a href="{{ prev_page }}">Prev</a>
      {% endif %}
      </p>
    </div>
    <div id="page-nav">
      <p>
    {% for pages in page_list %}
      {% ifequal page pages %}
      <a class="curr_page" href="{{ pages }}">{{ pages }}</a>
      {% else %}
      <a href="{{ pages }}">{{ pages }}</a>
      {% endifequal %}
    {% endfor %}
      </p>
    </div>
    <div id="next">
      <p>
    {% if next_page %}
      <a href="{{ next_page }}">Next</a>
    {% endif %}
      </p>
    </div>
  </div>
  <div id="pics">
  {% for pic in pic_list %}
    <div id="pics-holder">
      <img src={{ album_dir }}{{ pic }} />
      <p>{{ pic }}</p>
    </div>
  {% endfor %}
  </div>
{% endblock %}