<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{% block title %}Twice Refracted Photography{% endblock %}</title>
    <meta name="description" content="Twice Refracted Photography hosts one of the most creative photographers in Central Wisconsin.">
    <meta name="keywords" content="Twice Refracted, TRP, Central Wisconsin Photography, Senior Pictures, Wisconsin Rapids Photography, Reedsburg Photography, Madison Photography, Milwaukee Photography">
    <meta name="author" content="Josh Gachnang">
    <meta name="Robots" content="index, follow" /> 
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel=stylesheet href="/static/css/base.css" type="text/css">
    <link rel=stylesheet href="/static/css/nav.css" type="text/css">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div id="logo">
      <a href="/"><img height="80px" src="/static/img/twicerefracted_logo.gif"></a>
    </div>
    {% include "nav.html" %}
      {% block content %}{% endblock %}
  </body>
</html>